@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(214, 219, 220);
}

/* Added scrollbar size */
::-webkit-scrollbar {
  width: 0.5em;
  border-radius: 9999px; /* Added roundness */
}

::-webkit-scrollbar-thumb {
  background-color: #8888;
  border-radius: 9999px; /* Added roundness */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .page {
    @apply p-2 h-full w-full overflow-hidden;
  }
  .container {
    @apply h-full w-full overflow-hidden;
  }
  .fluid {
    @apply h-full w-full;
  }

  .scroll-none {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .overlay {
    @apply absolute w-full h-full top-0 left-0;
  }
}
